:root {
    --bg-color: #ffffff;
    --text-color: #000000;
}

body.dark {
    --bg-color: #121212;
    --text-color: #ffffff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: 0.4s;
}
.theme-switch {
    position: fixed;
    top: 20px;
    right: 20px;
}

/* esconde checkbox */
.theme-switch input {
    display: none;
}

.theme-switch label {
    width: 70px;
    height: 32px;
    background: #ccc;
    border-radius: 50px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 0.4s;
    padding: 0 5px;
}

/* bolinha */
.theme-switch .ball {
    width: 26px;
    height: 26px;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    transition: 0.4s;
}

/* ícones */
.theme-switch .icon {
    font-size: 14px;
    z-index: 2;
}

.theme-switch .sun {
    margin-left: 5px;
}

.theme-switch .moon {
    margin-left: auto;
    margin-right: 5px;
}

/* quando estiver marcado */
#switchTheme:checked + label {
    background: #4f46e5;
}

#switchTheme:checked + label .ball {
    transform: translateX(38px);
}